<% @page_title = "Badges" %>
<!-- Modal -->
<div id="badgesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Verfügbare Badges</h3>
  </div>
  <div class="modal-body">
    <ul>
      <% Merit::Badge.all.each do |b| %>
        <li>
          <a rel="tooltip" data-placement="right" title="Du erhältst <%= b.custom_fields[:points] %> Punkte!"><%= image_tag "Badges/#{b.custom_fields[:image]}", size: "28x28" %>
          <%= b.description %></a>
        </li>
      <% end %>
  </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<h1>Zuletzt hochgeladene Fahrten</h1>
<% if @trips.blank? %>
    <p>Keine Fahrten zum Anzeigen vorhanden.</p>
<% else %>
  <div class="row">
    <div class="span10">
      <%= paginate @trips %>
        <!--Loop through all the trips and printem-->
        <% for @trip in @trips do%>
          <div class="row well">
            <div class="span4">
              <%= image_tag("/assets/trips/#{@trip.id}.png", size: "300x300") %>
              
            </div>
            <div class="span6 listing">
              <div class="row">
                <%= "#{@trip.getTripLength} Kilometers driven from #{Geocoder.search(@trip.measurements.first.latlon.y.to_s + "," + @trip.measurements.first.latlon.x.to_s).first.address} to #{Geocoder.search(@trip.measurements.last.latlon.y.to_s + "," + @trip.measurements.last.latlon.x.to_s).first.address} on #{@trip.measurements.first.recorded_at.strftime("%a, %d %B %Y")} at #{@trip.measurements.first.recorded_at.strftime("%H:%M %P")}" %>
              </div>
              <div class="row">
                <div class="span">
                  <h4 class="muted">DISTANZ</h4>
                  <p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km</p>
                </div>
                <div class="span">
                  <h4 class="muted">Standzeit</h4>
                  <p><i class="icon-fire"> </i><%= '%.0f' % (@trip.measurements.where(:speed => 0).count * 5 / 60) %> min</p>
                </div> 
                <div class="span">
                  <h4 class="muted">MAX U/MIN</h4>
                  <p><i class="icon-fire"> </i><%= '%.0f' % (@trip.measurements.maximum(:rpm)) %></p>
                </div>
                <div class="span">
                  <h4 class="muted">Verbrauch</h4>
                  <p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getAvgConsumption) %> l/100 km</p>
                </div>
                <div class="span">
                  <h4 class="muted">CO2</h4>
                  <p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getAvgCo2) %> kg/100 km</p>
                </div>   
              </div>
              <div class="row">
                <h4>Verdiente Badges: </h4>
                <ul>
                  <% if @trip.badges.empty? %>
                    <p>Keine Badges erhalten diese Fahrt.</p>
                  <% else %>
                    <% @trip.badges.each do |badge| %>
                      <% @description = "#{badge[0].custom_fields[:points]}" + " Punkte für: #{badge[0].description}" %>
                      <li><a rel="tooltip" data-placement="left" data-original-title="<%= @description %>" ><%= image_tag "Badges/#{badge[0].custom_fields[:image]}", size: "30x30" %> <%= badge[0].name %></a></li>
                    <%end%>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>     
        <%end%> 
    </div>
    <div class="span2">
      <% unless Merit::Score.top_scored.to_json.length == 2 %>
        <% progress = (current_user.points) / ((Merit::Score.top_scored[0]["sum_points"].to_f)/100) %>
      <% end %>
      <%= progress_bar(progress, :color => 'blue', :rounded => true) %> 
      <h4><%= current_user.points %> Points</h4>
      <h2>Verdiente Badges:</h2>
      <a href="#badgesModal" data-toggle="modal"><i class="icon-plus-sign"></i> Verfügbare Badges</a>
      <% @badgesList.each do |k, v| %>
        <% @description = "#{Merit::Badge.get(k).custom_fields[:points]}" + " Punkte für: #{Merit::Badge.get(k).description}" %>
        <h4><a rel="tooltip" data-placement="left" data-original-title="<%= @description %>" ><%= image_tag "Badges/#{Merit::Badge.get(k).custom_fields[:image]}", size: "50x50" %> x<%= v %></a></h4>
      <%end%>
    </div>
  </div>
<%end%>
      
