.row.well
  .span2= link_to image_tag( user.avatar_photo_url(:medium), size: "100x100" ), user_path(user)
  
  .span3
    %h4= link_to user.login, user_path(user)

    %p
      - if @search && @search['description']
        = truncate_words_with_highlight user.description, @search['description']
      - else
        = truncate_words user.description, 18, '...'


    %ul
      %li.update
        %abbr.published{:title=>"#{user.created_at}"}
          =:joined.l + " #{time_ago_in_words_or_date user.created_at}"
      - if current_user and current_user.can_request_friendship_with(user)
        %li.addfriend= add_friend_link(user)


    - if current_user && current_user.admin?
      %p= button_to :assume_id.l, assume_user_path(user), :class => 'btn'
    
  .span6
    %h4.stats= "Statistics"
    .span1
      %i.icon-globe= " " + user.mileage.to_s + " km"
    .span1
      %i.icon-list= " " + user.trips.length.to_s + " trips"
    .span1
      %i.icon-random= " " + '%.0f' % user.speed.to_s + " Km/h"
    .span2
      %i.icon-tint= " " + '%.1f' % user.consumption.to_s + " l/100km"