- @meta = { :description => "#{@user.login}'s profile on #{configatron.community_name}.", :keywords => "#{@user.login}, #{@user.tags.join(", ") unless @user.tags.nil?}", :robots => configatron.robots_meta_show_content }
- @section = @user.eql?(current_user) ? 'my_profile' : 'users'
- @sidebar_left = true

%div.container-fluid


  %div.span3.sidebar
    %ul.nav.nav-list.well.affix{"data-offset-top" => "30%"}
      %li.nav-header
        = "Springen zu ..."
      %li.divider
      %li
        = link_to "Letzte Fahrten", "#trip-list"
      %li
        = link_to "Eigene Kommentare", "#comments-list"
      %li
        = link_to "Erhaltene Kommentare", "#received-list" 

  .container
    .row
      = render :partial => "shared/messages"
   
    %div.row-fluid
      %div.span8
        %div.row
          %h1
            = "Übersicht"
          %div.row
            %table.table.table-striped
              %thead
                %tr
                  %th
                    %h4.muted
                      = "DISTANZ"
                  %th
                    %h4.muted
                      = "FAHRTEN"
                  %th
                    %h4.muted
                      = "STANDZEIT"
                  %th
                    %h4.muted
                      = "GESCHWINDIGKEIT"
                  %th
                    %h4.muted
                      = "UMDREHUNGEN"
                  %th
                    %h4.muted
                      = "VERBRAUCH"
              %tbody
                %tr.success
                  %td
                    %i.icon-globe
                    = (@mileage).to_s + " Km"
                  %td
                    %i.icon-list
                    = @num_trips.to_s + ""
                  %td
                    %i.icon-pause
                    = ('%.2f' % (@standing_time / 60 / 60)).to_s + " h"
                  %td
                    = image_tag "../../assets/icon_durchschnitt.gif"
                    = ('%.0f' % @speed).to_s + " Km/h"
                  %td
                    = image_tag "../../assets/icon_durchschnitt.gif"
                    = ('%.0f' % @rpm).to_s + " U/min"
                  %td
                    = image_tag "../../assets/icon_durchschnitt.gif"
                    = ('%.1f' % @consumption).to_s + " l/100 km"
        - if current_user.group == 3 || current_user.group == 0
          .row
            - if Merit::Score.top_scored.first != nil
              %p.lead.muted
                = "" + (@better.length + 1).to_s + ". Platz mit " + @user.points.to_s + " Punkten"
              %p 
                
              
              %p
                - progress = '%.0f' % ((@user.points) / ((Merit::Score.top_scored[0]["sum_points"].to_f)/100))
                = progress_bar(progress, :color => 'blue', :rounded => true)
                = icon_link_to 'icon-plus-sign',  "Zeige Badges", "/badges?user=#{@user.id}"


        - unless @trips.empty?
          .row
            %h2#trip-list="Zuletzte hochgeladene Fahrten"
            - if current_user.group == 1
              = icon_link_to 'icon-plus-sign',  "Zeige alle Fahrten", "/trip/show?user=#{@user.id}"
            - for trip in current_user.trips.find(:all, :order => "id desc", :limit => 10).reverse
              .row.well
                %div.span6
                  %div.trip_info
                    = link_to image_tag("/assets/trips/#{trip.id}.png", size: "300x300"), "/trip/show/#{trip.id}"
                %div.span6.listing
                  .row
                    = link_to "#{trip.getTripLength} Kilometer am #{I18n.l trip.measurements.first.created_at, format: :literal_date} um #{I18n.l trip.created_at, format: :time_ago} Uhr", "/trip/show/#{trip.id}"
                  %div.row
                    %p
                    %p
                      %ul
                        %li
                          %i.icon-globe
                          = ('%.2f' % trip.getTripLength).to_s + " Km"
                        %li
                          %i.icon-fire
                          = ('%.2f' % trip.getAvgConsumption.to_s + " Liter"
                        %li
                          %i.icon-leaf
                          = ('%.2f' % trip.getAvgCo2.to_s + " kg/100 km"
                  - if current_user.group == 3 || current_user.group == 0
                    %div.row
                      %div
                        %p
                          %strong
                            = "Verdiente Badges:"
                        %table.table.table-striped
                          %tbody
                            - trip.badges.each do |badge|
                              %tr
                                %td
                                  %a{"rel"=>"tooltip", "data-placement"=>"left", "title"=>"Gibt #{badge[0].custom_fields[:points]} Punkte!"}
                                    = image_tag "Badges/#{badge[0].custom_fields[:image]}", size: "28x28"
                                %td
                                  %a{"rel"=>"tooltip", "data-placement"=>"left", "title"=>"Gibt #{badge[0].custom_fields[:points]} Punkte!"}
                                    = "Verdient für: " + badge[0].description

        - unless @users_comments.empty?
          .row
            %h2#comments-list=:my_recent_comments.l
            - @users_comments.each do |comment|
              .row.well
                .pull-right
                  - if comment.recipient
                    = link_to image_tag(comment.recipient.avatar_photo_url(:thumb), :alt => "#{comment.recipient.login}"), commentable_url(comment), :class => 'thumbnail'
                %h3
                  - if comment.commentable.eql?(comment.recipient)
                    = :to.l + ": #{link_to comment.recipient.login, commentable_url(comment)}".html_safe
                  - else
                    = :on_commentable.l + ": #{link_to comment.commentable_name, commentable_url(comment)} (#{comment.commentable_type.l})".html_safe
                %p= truncate_words( comment.comment, 10, '...').html_safe
        .row
          %h2#received-list=:profile_comments.l
          %a#newest_comment
          = render :partial => 'comments/comment', :collection => @comments
          %span#more_comments_links= more_comments_links(@user)
          %h3=:add_your_comment.l
          = render :partial => 'comments/comment_form', :locals => {:commentable => @user}







      %div.span4
        .pull-right
          =image_tag(@user.avatar_photo_url(:medium))
          %h2= @user.login
          - unless @user.description.blank?
            -box :id => "about_me" do
              %h2
                =:about_me.l
              %p= @user.description.html_safe
            %hr.featurette-divider
          %ul.nav.nav-list
            %li.nav-header="Freunde (" + @friend_count.to_s + ")"
            %li=icon_link_to 'icon-plus-sign', "Zeige alle", accepted_user_friendships_path(@user)
            %li= link_to "#{"Zeige alle Freundschaftsanfragen"} (#{@pending_friendships_count})", pending_user_friendships_path(@user) if @is_current_user
            %hr.featurette-divider
            - @accepted_friendships.each do |user|
              =render :partial => "users/sidebar_user", :locals => {:user => user}
           
          = render :partial => 'profile_user_info_sidebar', :locals => {:user => @user}




