<div class="row">
	<h1>Overview</h1>
	<div class="row">
		<table class="table table-striped">
      <thead>
        <tr>
          <th><h4 class="muted">TOTAL DISTANCE</h4></th>
          <th><h4 class="muted">RECORDED TRIPS</h4></th>
          <th><h4 class="muted">TOTAL CO2 EMISSIONS</h4></th>
          <th><h4 class="muted">AVERAGE CO2</h4></th>
          <th><h4 class="muted">TOTAL CONSUMPTION</h4></th>
          <th><h4 class="muted">AVERAGE CONSUMPTION</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td><i class="icon-globe"> </i><%= current_user.mileage %> Km</td>
          <td><i class="icon-list"> </i><%= current_user.trips.length %></td> 
          <td><i class="icon-road"> </i><%= '%.2f' % (current_user.total_co2 / 60.0 / 60.0) %> kg</td>
          <td><i class="icon-leaf"> </i><%= '%.0f' % current_user.co2 %> g/s</td>
          <td><i class="icon-fire"> </i><%= '%.0f' % current_user.total_consumption %> liters</td>
          <td><i class="icon-tint"> </i><%= '%.1f' % current_user.consumption %> l/100km</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>

<div class="container">
	<h1>My recent Trips</h1>
	<% if @trips.blank? %>
		<p>No trips to display</p>
	<% else %>
		<%= paginate @trips %>
		<hr class="featurette-divider">
		<!--Loop through all the trips and printem-->
		<% for @trip in @trips do%>
			<div class="row well">
				<div class="span6">
					<div class="trip_info">
						<%= link_to image_tag("/assets/trips/#{@trip.id}.jpg"), "/trip/abstract/#{@trip.id}" %>
					</div>
				</div>
				<div class="span6 listing">
					<div class="row">
						<%= link_to "#{@trip.getTripLength} Kilometers driven from #{Geocoder.search(@trip.measurements.first.latlon.y.to_s + "," + @trip.measurements.first.latlon.x.to_s).first.address} to #{Geocoder.search(@trip.measurements.last.latlon.y.to_s + "," + @trip.measurements.last.latlon.x.to_s).first.address} on #{@trip.measurements.first.recorded_at.strftime("%a, %d %B %Y")} at #{@trip.measurements.first.recorded_at.strftime("%H:%M %P")}", "/trip/abstract/#{@trip.id}" %>
					</div>
					<div class="row">
						<div class="span2">
							<h4 class="muted">DISTANCE</h4>
							<p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km</p>
						</div>
						<div class="span2">
							<h4 class="muted">GAS CONSUMED</h4>
							<p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getTotalConsumption / 1000) %> Liters</p>
						</div>
						<div class="span2">
							<h4 class="muted">AVERAGE CO2 EMISSIONS</h4>
							<p><i class="icon-leaf"></i> <%= @trip.measurements.average(:co2).to_f %> g/s</p>
						</div>			
					</div>
					<div class="row">
						<p>
							<% 
								overall_avg_co2 = User.where("co2 > 0").average(:co2).to_f 
								avg_co2_per = overall_avg_co2 / 100
								trip_avg_co2 = @trip.measurements.average(:co2)
								smilie_text = ""	
							%>
							<%= 
								if overall_avg_co2 > 0 && trip_avg_co2 > 0
									if trip_avg_co2 < (overall_avg_co2 - (25 * avg_co2_per))
										smilie_text = "Congrats: This trip's CO2 emissions are 25% better than the average."
										image_tag "/assets/smilies/1.png", size: "100x100"
									elsif (overall_avg_co2 - (5 * avg_co2_per)) > trip_avg_co2 && trip_avg_co2 > (overall_avg_co2 - (15 * avg_co2_per))
										smilie_text = "Super! This trip's CO2 emissions are 15% better than the average."
										image_tag "/assets/smilies/2.png", size: "100x100"
									elsif (overall_avg_co2 + (5 * avg_co2_per)) > trip_avg_co2 && trip_avg_co2 > (overall_avg_co2 - (5 * avg_co2_per))
										smilie_text = "This trip's CO2 emissions are average."
										image_tag "/assets/smilies/3.png", size: "100x100"
									elsif (overall_avg_co2 + (5 * avg_co2_per)) < trip_avg_co2 && trip_avg_co2 < (overall_avg_co2 + (15 * avg_co2_per))
										smilie_text = "Oh no! This trip's CO2 emissions are 15% worse than the average."
										image_tag "/assets/smilies/4.png", size: "100x100"
									elsif trip_avg_co2 < (overall_avg_co2 + (25 * avg_co2_per))
										smilie_text = "Do something! This trip's CO2 emissions are 25% worse than the average."
										image_tag "/assets/smilies/6.png", size: "100x100"
									end		
								end				
							%>
							<%= smilie_text %>
						</p>
					</div>
				</div>
			</div>
			<hr class="featurette-divider">			
		<%end%>
	<%end%>	
</div> <!-- end container -->