<div class="row">
	<h1>Übersicht</h1>
	<div class="row">
		<table class="table table-striped">
      <thead>
        <tr>
          <th><h4 class="muted">DISTANZ GESAMT</h4></th>
          <th><h4 class="muted">ANZAHL FAHRTEN</h4></th>
          <th><h4 class="muted">CO2 EMISSIONEN GESAMT</h4></th>
          <th><h4 class="muted">DURCHSCHNITTL. CO2</h4></th>
          <th><h4 class="muted">BENZINVERBRAUCH GESAMT</h4></th>
          <th><h4 class="muted">DURCHSCHNITTL. VERBRAUCH</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="icon-globe"> </i><%= current_user.mileage %> Km</td>
          <td><i class="icon-list"> </i><%= current_user.trips.length %></td> 
          <td><i class="icon-road"> </i><%= '%.2f' % (current_user.total_co2 / 60.0 / 60.0) %> kg</td>
          <td><img src="../../assets/icon_durchschnitt.gif"> <%= '%.0f' % current_user.co2 %> kg/100 km</td>
          <td><i class="icon-fire"> </i><%= '%.0f' % current_user.total_consumption %> Liter</td>
          <td><img src="../../assets/icon_durchschnitt.gif"> <%= '%.1f' % current_user.consumption %> l/100km</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>

<div class="container">
	<h1>Zuletzt hochgeladene Fahrten</h1>
	<% if @trips.blank? %>
		<p>Keine Fahrten zum Anzeigen vorhanden.</p>
	<% else %>
		<%= paginate @trips %>
		<hr class="featurette-divider">
		<!--Loop through all the trips and printem-->
		<% for @trip in @trips do%>
			<div class="row well">
				<div class="span6">
					<div class="trip_info">
						<%= link_to image_tag("/assets/trips/#{@trip.id}.png"), "/trip/abstract/#{@trip.id}" %>
					</div>
				</div>
				<div class="span6 listing">
					<div class="row">
						<%= link_to "#{@trip.getTripLength} Kilometer von #{Geocoder.search(@trip.measurements.first.latlon.y.to_s + "," + @trip.measurements.first.latlon.x.to_s).first.address} nach #{Geocoder.search(@trip.measurements.last.latlon.y.to_s + "," + @trip.measurements.last.latlon.x.to_s).first.address} am #{I18n.l @trip.measurements.first.recorded_at, format: :literal_date} um #{I18n.l @trip.measurements.first.recorded_at, format: :time_ago}", "/trip/abstract/#{@trip.id}" %>
					</div>
					<div class="row">
						<div class="span2">
							<h4 class="muted">ENTFERNUNG</h4>
							<p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km</p>
						</div>
						<div class="span2">
							<h4 class="muted">BENZINVERBRAUCH</h4>
							<p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getTotalConsumption) %> Liter</p>
						</div>
						<div class="span2">
							<h4 class="muted">CO2 AUSSTOSS</h4>
							<p><i class="icon-leaf"></i> <%= '%.2f' % (@trip.getTotalCo2) %> kg</p>
						</div>			
					</div>
					<div class="row">
						<p>
							<% 
								overall_avg_co2 = User.where("co2 > 0").average(:co2).to_f 
								avg_co2_per = overall_avg_co2 / 100
								trip_avg_co2 = @trip.getAvgCo2
								smilie_text = ""	
							%>
							<%= 
								if overall_avg_co2 > 0 && trip_avg_co2 > 0
									if trip_avg_co2 < (overall_avg_co2 - (25 * avg_co2_per))
										smilie_text = "Wow! Die CO2 Werte dieser Fahrt sind um 25% besser als der Durchschnitt."
										image_tag "/assets/smilies/1.png", size: "70x70"
									elsif (overall_avg_co2 - (5 * avg_co2_per)) > trip_avg_co2 && trip_avg_co2 > (overall_avg_co2 - (15 * avg_co2_per))
										smilie_text = "Toll! Die CO2 Werte dieser Fahrt sind um 15% besser als der Durchschnitt."
										image_tag "/assets/smilies/2.png", size: "70x70"
									elsif (overall_avg_co2 + (5 * avg_co2_per)) > trip_avg_co2 && trip_avg_co2 > (overall_avg_co2 - (5 * avg_co2_per))
										smilie_text = "Die CO2 Werte dieser Fahrt sind super!"
										image_tag "/assets/smilies/3.png", size: "70x70"
									elsif (overall_avg_co2 + (5 * avg_co2_per)) < trip_avg_co2 && trip_avg_co2 < (overall_avg_co2 + (15 * avg_co2_per))
										smilie_text = "Ups! Die CO2 Werte dieser Fahrt sind um 15% schlechter als der Durchschnitt."
										image_tag "/assets/smilies/4.png", size: "70x70"
									elsif trip_avg_co2 > (overall_avg_co2 + (25 * avg_co2_per))
										smilie_text = "Oh nein! Die CO2 Werte dieser Fahrt sind um 25% schlechter als der Durchschnitt."
										image_tag "/assets/smilies/6.png", size: "70x70"
									end		
								end				
							%>
							<%= smilie_text %>
						</p>
					</div>
				</div>
			</div>
			<hr class="featurette-divider">			
		<%end%>
	<%end%>	
</div> <!-- end container -->