<!-- Modal -->
<div id="badgesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Available Badges</h3>
  </div>
  <div class="modal-body">
  	<ul>
	    <% Merit::Badge.all.each do |b| %>
	    	<li>
	    		<a rel="tooltip" data-placement="right" title="Grants you <%= b.custom_fields[:points] %> points!"><%= image_tag "Badges/#{b.custom_fields[:image]}", size: "28x28" %>
	    		<%= b.description %></a>
	    	</li>
	    <% end %>
	</ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

<div class="row">
	<h1>Overview</h1>
	<div class="row">
		<table class="table table-striped">
      <thead>
        <tr>
          <th><h4 class="muted">TOTAL DISTANCE</h4></th>
          <th><h4 class="muted">RECORDED TRIPS</h4></th>
          <th><h4 class="muted">TOTAL STANDING TIME</h4></th>
          <th><h4 class="muted">AVERAGE SPEED</h4></th>
          <th><h4 class="muted">AVERAGE RPM</h4></th>
          <th><h4 class="muted">AVERAGE CONSUMPTION</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td><i class="icon-globe"> </i><%= current_user.mileage %> Km</td>
          <td><i class="icon-list"> </i><%= current_user.trips.length %></td> 
          <td><i class="icon-pause"> </i><%= '%.2f' % (current_user.standingtime / 60.0 / 60.0) %> h</td>
          <td><i class="icon-random"> </i><%= '%.0f' % current_user.speed %> Km/h</td>
          <td><i class="icon-refresh"> </i><%= '%.0f' % current_user.rpm %> Rpm</td>
          <td><i class="icon-tint"> </i><%= '%.1f' % current_user.consumption %> l/100km</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>

<div class="container">
	<h1>My recent Trips</h1>
	<% if @trips.blank? %>
		<p>No trips to display. Go and record some trips! </p>
	<% else %>
		<%= paginate @trips %>
		<hr class="featurette-divider">
		<!--Loop through all the trips and printem-->
		<% for @trip in @trips do%>
			<div class="row well">
				<div class="span6">
					<div class="trip_info">
						<%= link_to image_tag("/assets/trips/#{@trip.id}.png"), "/trip/show/#{@trip.id}" %>
					</div>
				</div>
				<div class="span6 listing">
					<div class="row">
						<%= link_to "#{@trip.getTripLength} Kilometers driven from #{Geocoder.search(@trip.measurements.first.latlon.y.to_s + "," + @trip.measurements.first.latlon.x.to_s).first.address} to #{Geocoder.search(@trip.measurements.last.latlon.y.to_s + "," + @trip.measurements.last.latlon.x.to_s).first.address} on #{@trip.measurements.first.recorded_at.strftime("%a, %d %B %Y")} at #{@trip.measurements.first.recorded_at.strftime("%H:%M %P")}", "/trip/show/#{@trip.id}" %>
					</div>
					<div class="row">
						<div class="span2">
							<h4 class="muted">DISTANCE</h4>
							<p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km</p>
						</div>
						<div class="span2">
							<h4 class="muted">GAS CONSUMED</h4>
							<p><i class="icon-fire"> </i><%= '%.2f' % @trip.measurements.average(:consumption).to_f %> Liters</p>
						</div>
						<div class="span2">
							<h4 class="muted">CO2 EMISSIONS</h4>
							<p><i class="icon-leaf"></i> <%= @trip.measurements.average(:co2).to_f %> g/s</p>
						</div>			
					</div>
					<div class="row">
						<div class="span6">
							<p>
								<strong>Badges earned this trip </strong> 
								<a href="#badgesModal" data-toggle="modal"><i class="icon-plus-sign"></i> Available badges</a>
							</p>
							<% @trip.badges.each do |badge|%>
								<p>
									<a rel="tooltip" data-placement="left" title="Grants you <%= badge[0].custom_fields[:points] %> points!"><%= image_tag "Badges/#{badge[0].custom_fields[:image]}", size: "28x28" %></a>
									<%= "Earned for: " + badge[0].description %>
								</p>
							<%end%>
						</div>	
					</div>	
				</div>
			</div>
			<hr class="featurette-divider">			
		<%end%>
	<%end%>	
</div> <!-- end container -->