<div class="row">
	<h1>Übersicht</h1>
	<div class="row">
		<table class="table table-striped">
      <thead>
        <tr>
          <th><h4 class="muted">DISTANZ</h4></th>
          <th><h4 class="muted">FAHRTEN</h4></th>
          <th><h4 class="muted">STANDZEIT</h4></th>
          <th><h4 class="muted">DURCHSCHNITTL. GESCHWINDIGKEIT</h4></th>
          <th><h4 class="muted">DURCHSCHNITTL. UMDREHUNGEN</h4></th>
          <th><h4 class="muted">DURCHSCHNITTL. VERBRAUCH</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td><i class="icon-globe"> </i><%= current_user.mileage %> Km</td>
          <td><i class="icon-list"> </i><%= current_user.trips.length %></td> 
          <td><i class="icon-pause"> </i><%= '%.2f' % (current_user.standingtime / 60.0 / 60.0) %> h</td>
          <td><i class="icon-random"> </i><%= '%.0f' % current_user.speed %> Km/h</td>
          <td><i class="icon-refresh"> </i><%= '%.0f' % current_user.rpm %> Rpm</td>
          <td><i class="icon-tint"> </i><%= '%.1f' % current_user.consumption %> l/100km</td>
        </tr>
      </tbody>
    </table>
	</div>
</div>

<div class="container">
	<h1>Zuletzt hochgeladene Fahrten</h1>
	<% if @trips.blank? %>
		<p>Keine Fahrten zum Anzeigen vorhanden.</p>
	<% else %>
		<%= paginate @trips %>
		<hr class="featurette-divider">
		<!--Loop through all the trips and printem-->
		<% for @trip in @trips do%>
			<div class="row well">
				<div class="span6">
					<div class="trip_info">
						<%= link_to image_tag("/assets/trips/#{@trip.id}.png"), "/trip/show/#{@trip.id}" %>
					</div>
				</div>
				<div class="span6 listing">
					<div class="row">
						<%= link_to "#{@trip.getTripLength} Kilometer von #{Geocoder.search(@trip.measurements.first.latlon.y.to_s + "," + @trip.measurements.first.latlon.x.to_s).first.address} nach #{Geocoder.search(@trip.measurements.last.latlon.y.to_s + "," + @trip.measurements.last.latlon.x.to_s).first.address} am #{I18n.l @trip.measurements.first.recorded_at, format: :literal_date} um #{I18n.l @trip.measurements.first.recorded_at, format: :time_ago}", "/trip/show/#{@trip.id}" %>
					</div>
					<div class="row">
						<div class="span2">
							<h4 class="muted">DISTANZ</h4>
							<p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km</p>
						</div>
						<div class="span2">
							<h4 class="muted">BENZINVERBRAUCH</h4>
							<p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getTotalConsumption) %> Liters = <%= '%.2f' % (@trip.getTotalConsumption * @fuel_prices[0].to_f) %>€</p>
						</div>
						<div class="span2">
							<h4 class="muted">CO2</h4>
							<p><i class="icon-leaf"></i> <%= '%.2f' % (@trip.getTotalCo2 / 1000) %> kg</p>
						</div>			
					</div>
				</div>
			</div>
			<hr class="featurette-divider">			
		<%end%>
	<%end%>	
</div> <!-- end container -->