<div class="row">
  <div class="span2">
    <h4 class="muted">DISTANCE</h4>
    <p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km in <%=(@trip.measurements.last.recorded_at.to_i - @trip.measurements.first.recorded_at.to_i) / 60 %> minutes</p>
  </div>
  <div class="span2">
    <h4 class="muted">GAS CONSUMED</h4>
    <p><i class="icon-fire"> </i><%= @trip.measurements.average(:consumption).to_f %> Liters</p>
  </div>
  <div class="span2">
    <h4 class="muted">CO2 EMISSIONS</h4>
    <p><i class="icon-leaf"></i> <%= @trip.measurements.average(:co2).to_f %> g/s</p>
  </div>
  <div class="span2">
    <h4 class="muted">STANDING TIME</h4>
    <p><i class="icon-leaf"></i> <%= '%.0f' % (@trip.measurements.where(:speed => 0).count * 5 / 60) %> minutes</p>
  </div>
  <div class="span2">
    <h4 class="muted">AVG SPEED</h4>
    <p><i class="icon-leaf"></i> <%= '%.0f' % @trip.measurements.average(:speed).to_f %> km/h</p>
  </div>

  <div class="span2">
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      Compare this trip
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% for trip in current_user.trips do%>
        <li>
          <%= link_to "#{trip.getTripLength} Kilometers on #{trip.created_at.strftime("%a, %d %B %Y")}", "/trip/compare?a=#{@trip.id}&b=#{trip.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div id="map"></div>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
    <!-- AddThis Button END -->
  </div>
  <div class="span6">
    <div id="chartContainer" style="height: 100%; width: 100%;"></div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="span6">
    <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div><!-- /.span6 -->
  <div class="span6">
    <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div><!-- /.span6 -->
</div><!-- /.row -->

<hr class="featurette-divider">

