<div class="row">
  <div class="span2">
    <h4 class="muted">DISTANCE</h4>
    <p><i class="icon-globe"> </i><%= @trip.getTripLength %> Km in <%=(@trip.measurements.last.recorded_at.to_i - @trip.measurements.first.recorded_at.to_i) / 60 %> minutes</p>
  </div>
  <div class="span2">
    <h4 class="muted">GAS CONSUMED</h4>
    <p><i class="icon-fire"> </i><%= '%.2f' % (@trip.getTotalConsumption / 1000) %> Liters = <%= '%.2f' % (@trip.getTotalConsumption/1000 * @fuel_prices[0].to_f) %>€</p>
  </div>
  <div class="span2">
    <h4 class="muted">CO2 EMISSIONS</h4>
    <p><i class="icon-leaf"></i> <%= '%.2f' % (@trip.getTotalCo2 / 1000) %> kg</p>
  </div>
  <div class="span2">
    <h4 class="muted">STANDING TIME</h4>
    <p><i class="icon-leaf"></i> <%= '%.0f' % (@trip.measurements.where(:speed => 0).count * 5 / 60) %> minutes</p>
  </div>
  <div class="span2">
    <h4 class="muted">AVG SPEED</h4>
    <p><i class="icon-leaf"></i> <%= '%.0f' % @trip.measurements.average(:speed).to_f %> km/h</p>
  </div>

  <div class="span2">
    <div class="btn-group">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
        Compare with my trip
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% for trip in current_user.trips do%>
          <li>
            <%= link_to "#{trip.getTripLength} Kilometers on #{trip.created_at.strftime("%a, %d %B %Y")}", "/trip/compare?a=#{@trip.id}&b=#{trip.id}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="map" id="map">
      <div class="btn-group sensorswitch dropup">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="sensorswitch">
          Change sensor
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
              <a id="change-sensor-consumption" href="#">Consumption</a>
            </li>
            <li>
              <a id="change-sensor-rpm" href="#">Rpm</a>
            </li>
            <li>
              <a id="change-sensor-speed" href="#">Speed</a>
            </li>
        </ul>
      </div>
    </div>
    <img src="/assets/legend_green.png" class="legend"><p style="display:inline" id="legend1"></p></img>
    <img src="/assets/legend_dark_green.png" class="legend"><p style="display:inline" id="legend2"></p></img>
    <img src="/assets/legend_orange.png" class="legend"><p style="display:inline" id="legend3"></p></img>
    <img src="/assets/legend_light_red.png" class="legend"><p style="display:inline" id="legend4"></p></img>
    <img src="/assets/legend_red.png" class="legend"><p style="display:inline" id="legend5"></p></img>
  </div>
  <div class="span6">
    <div id="chartContainer" style="height: 100%; width: 100%;"></div>
  </div>
</div>

<hr class="featurette-divider">

<div class="row">
  <div class="span6">
    <h2 class="featurette-heading">Genauigkeit <span class="muted"></span></h2>
    <p class="lead">Die Berechnung der Werte ist sehr genau. Da allerdings nur alle 5 Sekunden gemessen wird können die Ergebnisse leicht von der Anzeige des Autos selber abweichen. So kann es z.B. auch sein, dass kurze Beschleunigungsvorgänge nicht mit eingerechnet werden.</p>
  </div><!-- /.span6 -->
  <div class="span6">
    <h2 class="featurette-heading">Graph: <span class="muted">Zoomen und Scrollen</span></h2>
    <p class="lead">Fahre mit der Maus über den Graphen, um auf der Karte zu sehen wo die Messung liegt. Zoomen und Scrollen im Graphen und in der Karte sind auch möglich!</p>
  </div><!-- /.span6 -->
</div><!-- /.row -->

<hr class="featurette-divider">


