!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"#{home_url}favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    =csrf_meta_tag
    =include_gon
    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
    = render :partial => "shared/scripts_and_styles"    
    = stylesheet_link_tag 'static_pages'

    = javascript_include_tag "community_map"
  %body{ :onload => @onload }
    -unless configatron.auth_providers.facebook.key.blank?    
      =render :partial => 'facebook/fb_require'    
      
    .navbar.navbar-static-top
      .navbar-inner
        .container.clearfix
          .row
            = render :partial => "shared/header"
    
    = yield        
    
    = render :partial => "shared/end_javascript"
    = yield :end_javascript
    = stylesheet_link_tag 'landing', :media => "all"